<p>
  nota-list works!
</p>

<div *ngIf="entityResult">
<table id="gridNotas">

  <thead>
      <tr>
          <th>
              Número
          </th>
          <th>
              Emissor
          </th>
          <th>
              Valor
          </th>
          <th>
              Ação
          </th>
      </tr>
  </thead>

  <tbody>
    <tr *ngFor='let nota of entityResult.entityList'>
      <td>{{nota.numero}}</td>
      <td>{{nota.emissor}}</td>
      <td>{{nota.valorTotal}}</td>
    </tr>
</tbody>

</table>
</div>

