<p>
  nota-list works!
</p>

<div *ngIf="entityResult">
<table id="gridNotas" class="table table-striped">

  <thead>
      <tr>
          <th>
              Número
          </th>
          <th>
              Emissor
          </th>
          <th>
              Valor
          </th>
          <th>
              Ação
          </th>
          <th>
              Itens
          </th>
      </tr>
  </thead>

  <tbody>
    <tr *ngFor='let nota of entityResult.entityList'>
      <td>{{nota.numero}}</td>
      <td>{{nota.emissor}}</td>
      <td>{{nota.valorTotal}}</td>
      <td>
        <a [routerLink]="['/nota-itens', nota.id]">itens</a>  
      </td>
      <td>
          <app-nota-itens [itens]="nota.itens"></app-nota-itens>
      </td>
    </tr>
</tbody>

</table>
</div>

