<p>
  nota-nova works!
</p>

<div class="container">
  <form (ngSubmit)="salvar()" #notaForm="ngForm">

    <div class="form-group">
      <label for="nunero">Número</label>
      <input type="text" [(ngModel)]="nota.numero" required id="numero" name="numero" class="form-control" #spy #numero="ngModel">
      {{spy.className}}
      <div class="alert alert-danger" [hidden]="numero.valid">
        Campo número requerido
      </div>
    </div>

    <div class="form-group">
        <label for="valorTotal">Valor Total</label>
        <input type="number" [(ngModel)]="nota.valorTotal" required id="valorTotal" name="valorTotal" class="form-control" #valorTotal="ngModel">
        <div class="alert alert-danger" [hidden]="valorTotal.valid">
            Campo Valor requerido
        </div>
    </div>

    <div class="form-group">
        <label for="emissor">Emissor</label>
        <input type="text" [(ngModel)]="nota.emissor" required id="emissor" name="emissor" class="form-control" #emissor="ngModel">
        <div class="alert alert-danger" [hidden]="emissor.valid">
            Emissor Valor requerido
        </div>
    </div>    
      <button type="submit" [disabled]="!notaForm.form.valid" class="btn" [ngClass]="{'btn-success': notaForm.form.valid, 'btn-secondary': !notaForm.form.valid}" >Salvar</button>
    </form>
</div>